@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
.c-bg{
    background-color: #364F6B;
    font-family: 'Outfit', sans-serif;
    font-size: x-large;
}
input:checked + label{
    text-decoration: line-through;
    text-decoration-color: #364F6B;
}
